body {
    font-family: "Montserrat", sans-serif;
    background-color: #e5e5e5;
    padding: 40px;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    background-color: #ffffff;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Main content */
.main-content {
    /* padding-top: 88px; 
    padding-bottom: 88px;
    padding-left: 88px;
    padding-right: 88px;*/

    /* padding: 88px 88px 88px 88px; Ці 3 запису дають одне й те саме по часовій стрілці */

    padding: 88px;
    padding-right: 48px;
    padding-bottom: 40px;
}

.about-me-container {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    margin: 0 0 8px 0;
}

/* About me */
.my-profession {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    margin: 0 0 18px 0;
}

.my-name {
    color: #000;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    margin: 0 0 28px 0;
}

.my-description {
    color: #595959;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* width: 525px; */
    /* width: 100%; */
}

.about-me-container {
    margin-bottom: 44px;
}

/* Projects */
.project-item {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.project-list {
    padding: 0 0 0 14px;
    margin: 0;
}

.projects-container {
    margin-bottom: 48px;
}

.project-item-description {
    color: #595959;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.project-item-link {
    color: #005fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
    transition: 0.1s;
}
.project-item-link:hover {
    color: #ff4800;
    /* color: #ff6600; */
}

.content__portfolio {
    margin-bottom: 48px;
}
.portfolio__title {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    margin: 0 0 18px 0;
}
.portfolio__ref {
    color: #292323;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    background-color: #e0ebfe;
    /* background-color: #e0ebfe; */
    transition: 0.3s;
    padding: 15px 30px;
    border-radius: 6px;
    margin: 0 0 18px 0;
    display: inline-block;
    text-decoration: none;
}
.portfolio__ref:hover {
    background-color: #6d9bf5;
    /* background-color: #6d9bf5; */
}
.portfolio__copy {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    margin: 0 0 10px 0;
    display: block;
}
.portfolio__direct {
    display: block;
    color: #6d9bf5;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    text-decoration: underline;
    transition: 0.1s;
}
.portfolio__direct--margin {
    margin-bottom: 25px;
}
.portfolio__direct:hover {
    color: #ff4800;
}

/* Work experience */

.work-experience-container {
    margin-bottom: 44px;
}

.work-experience-position {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.work-experience-company {
    color: #6d9bf5;
}

.work-period {
    color: #a8a8a8;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 12px 0 8px 0;
}

.stick {
    color: #000;
}

.work-duties {
    color: #595959;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* width: 100%; */
}

.work-duties-list {
    padding: 0 0 0 14px;
    margin: 0;
}

.work-experience-plase {
    margin-bottom: 16px;
}

/* Education */

.education-experience {
    margin-top: 44px;
}

.education-univercity {
    color: #6d9bf5;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 12px 0 12px 0;
}
.honour {
    /* color: #ff4800; */
    color: #000;
}

.education-specialist {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 12px 0 12px 0;
}

.education-period {
    color: #a8a8a8;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 12px 0 12px 0;
}

/* Sidebar */

.sidebar {
    width: 370px;
    background-color: #e0ebfe;
    padding-top: 40px;
    padding-bottom: 40px;
}

.my-photo {
    /* margin-top: 40px; */
    /* width: 100%; */
}

.contacts-container,
.tech-skills-container,
.soft-skills-container {
    margin: 48px 0 0 40px;
}

.sidebar-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
}
/* Contents */

.contacts-type {
    color: #161d2a;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-right: 8px;
    white-space: pre;
}

.contacts-item {
    margin: 0;
}

.contacts-number {
    color: #2979ff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    white-space: pre;
}
.contacts-number:hover {
    color: #ff4800;
}
.contacts-email {
    color: #2979ff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
    white-space: pre;
}
.contacts-email:hover {
    color: #ff4800;
}
/* Skills */
.skills-list {
    margin: 0;
    padding: 0 0 0 18px;
}

.skills-list-item {
    color: #6d9bf5;
}
.skills-list-item--margin {
    margin-bottom: 8px;
}

.skills-list-text {
    color: #161d2a;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.skills-list-text--bright {
    /* color: #ff4800; */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
