// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1140;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Змінні основних медіа брейкпоінтів
// Показуємо контент беспечно для усіх ПК моніторів
$pc-adaptive: 1250;
// Показуємо контент беспечно для усіх планшетів
$tablet-adaptive: 991.98;
// Показуємо контент беспечно для усіх великих мобільних
$huge-mobile-adaptive: 767.98;
// Стилі для маленьких мобільних
$small-mobile-adaptive: 479.98;

// Змінні для кольорів
$bgGrey: rgb(249, 251, 255);
$bgWhite: rgb(255, 255, 255);
$bgGreen: rgba(22, 192, 152, 0.38);
$bgRed: rgb(255, 197, 197);
$bgPurple: rgb(89, 50, 234);
$textBlack: rgb(0, 0, 0);
$textBlack2: rgb(41, 45, 50);
$textGrey: rgb(181, 183, 192);
$textGrey2: rgb(131, 131, 131);
$textGrey3: rgb(145, 151, 179);
$textGreen: rgb(22, 192, 152);
$texyGreen2: rgb(0, 135, 103);
$texyRed: rgb(223, 4, 4);

// Шаблон для хедера
%header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

// // Шаблон для футера
// %footer {
//     @extend %header;
//     position: relative;
//     bottom: 0;
// }

// міксін для стилів по замовчанню на сторінці
@mixin default-styles {
    body {
        font-family: "Anton", sans-serif;
        font-style: normal;
        font-weight: 400;
        color: #101010;
        line-height: 1.46;
        background-color: $bgGrey;
    }
    .wrapper {
        min-height: 100vh;
        overflow: clip;
        display: flex;
        // flex-direction: column;
        // @extend %common-container;
        @media (max-width: toEm(900)) {
            overflow: scroll;
        }
    }
    .wrapper > main {
        flex-grow: 1;
    }
    .main {
        display: flex;
        flex-direction: column;
    }
}

// Шаблон для популярного контейнера
%common-container {
    max-width: toRem(1410);
    padding-left: toRem(15);
    padding-right: toRem(15);
    margin: 0 auto;
}

// Міксин для адаптивного зображення
@mixin adaptive-image-settings(
    $width: 100%,
    $height: 100%,
    $object-fit: cover,
    $aspect-ratio: toRem(270) / toRem(270)
) {
    width: $width;
    height: $height;
    object-fit: $object-fit;
    aspect-ratio: $aspect-ratio;
}

// Міксин для назви з декором попереду
@mixin common-before-title($flex-basis: 11px, $width: 11px, $height: 11px, $bgColor: null, $borderRadius: 0px) {
    content: "";
    flex-basis: $flex-basis;
    width: $width;
    height: $height;
    @if $bgColor != null {
        background-color: $bgColor;
    } @else {
        background-color: $Main-Color; // Значення за замовчанням
    }
    border-radius: $borderRadius;
}
