// ----SLOGAN-------------------------------------------------------------------------------------
.slogan {
    background: $Main-Color-White;
    // .slogan__container
    &__container {
        @extend %common-container;
        @include adaptiveValue("margin-top", 120, 30);
        @include adaptiveValue("margin-bottom", 120, 30);
        // @include adaptiveValue("padding-left", 72, 20);
    }
    // .slogan__small-text
    &__small-text {
        color: $Main-Color-text;
        font-family: Roboto;
        font-size: toRem(11);
        font-weight: 400;
        line-height: toRem(44);
        letter-spacing: 1.6px;
        text-transform: uppercase;

        margin-bottom: toRem(21);
    }
    // .slogan__title
    &__title {
        color: $Main-Color-text;
        font-family: Roboto;
        @include adaptiveValue("font-size", 80, 24);
        font-weight: 400;
        @include adaptiveValue("line-height", 88, 24);
        letter-spacing: 0%;
        text-align: left;
        max-width: toRem(775);
    }
}
// ----BRANDS-------------------------------------------------------------------------------------
.brands {
    background: $Main-Color-White;
    // .brands__container
    &__container {
        @extend %common-container;
        @include adaptiveValue("margin-bottom", 120, 30);
        // @include adaptiveValue("padding-left", 72, 20);
    }
    // .brands__slogan
    &__slogan {
        color: $Main-Color-text;
        font-family: Roboto;
        @include adaptiveValue("font-size", 32, 24);
        font-weight: 400;
        @include adaptiveValue("line-height", 41, 28);
        letter-spacing: 0%;
        max-width: toRem(570);
        @include adaptiveValue("margin-bottom", 190, 30);
    }
    // .brands__cards
    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(toRem(312), 1fr));
        @include adaptiveValue("column-gap", 60, 20);
        @include adaptiveValue("row-gap", 60, 20);
        // align-items: center;
        justify-items: center;
        @media (max-width: toEm($small-mobile-adaptive)) {
            grid-template-columns: repeat(auto-fit, minmax(toRem(270), 1fr));
        }
    }
    // .brands__card
    &__card {
        width: 100%;
        box-shadow: 6px 6px 8px 6px rgba(212, 202, 202, 0.5);

        display: flex;
        flex-direction: column;
        transition: 0.3s;
        &:hover {
            transform: scale(1.05);
        }
    }
    // .brands__img-wrap
    &__img-wrap {
        margin-bottom: toRem(32);
    }
    // .brands__image
    &__image {
        // max-width: toRem(735);
        width: 100%;
        @include adaptive-image-settings($width: 100%, $height: 100%, $object-fit: cover, $aspect-ratio: 312 / 310);
    }
    // .brands__ref
    &__ref {
        color: $Main-Color-text;
        font-family: Roboto;
        font-size: toRem(24);
        font-weight: 400;
        line-height: toRem(28.8);
        letter-spacing: 0%;
        margin-bottom: toRem(11);
        position: relative;
        &::before {
            content: "";
            position: absolute;
            bottom: toRem(-1);
            left: 0;
            width: 0%;
            height: toRem(1);
            background-color: $Main-Color-text;
            transition: width 0.3s ease;
        }
        &:hover {
            color: $Main-Color-text;
            &::before {
                width: 100%;
            }
            // text-decoration: underline;
            // border-bottom: $Main-Color-text 1px solid;
        }
    }
    // .brands__img-sub-text
    &__img-sub-text {
        color: rgba(112, 52, 18, 0.72);
        font-family: Roboto;
        font-size: toRem(12);
        font-weight: 400;
        line-height: toRem(18);
        letter-spacing: toRem(1.6);
        text-transform: uppercase;
        margin-top: auto;
    }
}
