// ----ABOUT------------------------------------------------------------------------------------------------------------------------------------------------
.about {
    background: url(../img/About-me-bg.png) center center / cover no-repeat; // Найкращий запис для бекграунда
    // .about--service
    &--service {
        background: url(../img/My-service-bg.png) center center / cover no-repeat; // Найкращий запис для бекграунда
    }
    &--portfolio {
        background: url(../img/portfolio-bg.png) center center / cover no-repeat; // Найкращий запис для бекграунда
    }
    &--contact {
        background: url(../img/Contact-bg.png) center center / cover no-repeat; // Найкращий запис для бекграунда
    }
    @include adaptiveValue("height", 716, 416);
    // .about__content
    &__content {
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    // .about__title
    &__title {
        color: $White-text;
        font-family: Anton;
        @include adaptiveValue("font-size", 130, 64);
        font-weight: 400;
        @include adaptiveValue("line-height", 154, 96);
        letter-spacing: 1.5%;
        @include adaptiveValue("margin-bottom", 16, 0);
    }
    // .about__text
    &__text {
        color: $Grey-text;
        font-family: Montserrat;
        font-size: toRem(16);
        font-weight: 700;
        line-height: toRem(30);
        letter-spacing: -4%;
        display: block;
        transition: 0.3s;
        &:hover {
            color: $Main-Color;
        }
        & span {
            color: $White-text;
        }
    }
}
// ----ABOUT-ME-----------------------------------------------------------------------------------------------------------------------------------------------
.about-me2 {
    @extend %common-container;
    padding-top: toRem(80);
    // padding-bottom: toRem(124);
    @include adaptiveValue("padding-bottom", 124, 30);

    // .about-me2__container
    &__container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        column-gap: toRem(73);
        @media (max-width: toEm(1170)) {
            flex-wrap: wrap;
        }
    }
    // .about-me2__img-wrap
    &__img-wrap {
        @include adaptiveValue("max-width", 485, 343);
        & img {
            @include adaptive-image-settings(
                $width: 100%,
                $height: 100%,
                $object-fit: cover,
                $aspect-ratio: toRem(485) / toRem(667)
            );
        }
    }
    // .about-me2__line
    &__line {
        height: 2px;
        width: 100%;
        background-color: rgb(242, 243, 244);
        margin-top: toRem(13);
        margin-bottom: toRem(32);
    }
    // .about-me2__text
    &__text {
        /* Heading/Heading 32 */
        color: $Black;
        font-family: Anton;
        @include adaptiveValue("font-size", 32, 24);
        font-weight: 400;
        line-height: toRem(48);
        letter-spacing: 0%;
        text-transform: capitalize;
        margin-bottom: toRem(15);
    }
    // .about-me2__info
    &__info {
        max-width: toRem(580);
        padding-top: toRem(94);
        @media (max-width: toEm(1170)) {
            padding-top: toRem(25);
        }
    }
    // .about-me2__experience
    &__experience {
        display: flex;
        @include adaptiveValue("column-gap", 64, 18);
        @include adaptiveValue("margin-top", 32, 16);
    }
}
// ----MY SKILLS-----------------------------------------------------------------------------------------------------------------------------------------------
.my-skills {
    background-color: $Grey-10;
    @media (max-width: toEm($tablet-adaptive)) {
        background-color: $White-text;
    }
    // .my-skills__container
    &__container {
        @extend %common-container;
        @include adaptiveValue("padding-bottom", 40, 20);
        display: flex;
        column-gap: toRem(97);
        row-gap: toRem(47);
        @media (max-width: toEm($tablet-adaptive)) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    // .my-skills__info
    &__info {
        max-width: toRem(485);
    }
    // .my-skills__bars
    &__bars {
        width: 100%;
        max-width: toRem(558);
        padding-top: toRem(39);
        @media (max-width: toEm($tablet-adaptive)) {
            padding-top: toRem(0);
        }
    }
    // .my-skills__item-bar
    &__item-bar {
        margin-bottom: toRem(32);
    }
    // .my-skills__params
    &__params {
        display: flex;
        justify-content: space-between;
        margin-bottom: toRem(12);
    }
    // .my-skills__name
    &__param-name {
        /* Sub Heading/Sub Heading 14/Semi Bold */
        color: $Black;
        font-family: Montserrat;
        font-size: toRem(14);
        font-weight: 600;
        line-height: toRem(20);
        letter-spacing: -4%;
    }
    // .my-skills__bg-bar
    &__bg-bar {
        width: 100%;
        height: toRem(6);
        position: relative;
        background-color: $Grey-100;
        border-radius: toRem(24);
    }
    // .my-skills__color-bar
    &__color-bar {
        // width: 90%;
        height: toRem(6);
        position: absolute;
        top: 0;
        left: 0;
        background-color: $Main-Color;
        border-radius: toRem(24);
    }
}
// ----MY-EXPERIENSES-----------------------------------------------------------------------------------------------------------------------------------------------
.my-experiences {
    // .my-experiences__container
    &__container {
        @extend %common-container;
        @include adaptiveValue("padding-top", 40, 20);
        @include adaptiveValue("padding-bottom", 120, 80);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    // .my-experiences__histories-zone
    &__histories-zone {
        @include adaptiveValue("margin-top", 48, 54);
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(toRem(230), 1fr));
        column-gap: toRem(68);
        @media (max-width: toEm(1160)) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: toEm($huge-mobile-adaptive)) {
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }
    // .my-experiences__history
    &__history {
        max-width: toRem(300);
        & img {
            margin-bottom: toRem(42);
        }
        &:nth-child(4n + 2) {
            // Стилі для другої групи елементів
            margin-top: toRem(47); // Відступ для другої групи
        }
        &:nth-child(4n + 3) {
            // Стилі для третьої групи елементів
            margin-top: toRem(89); // Відступ для третьої групи
        }
        &:nth-child(4n + 4) {
            // Стилі для четвертої групи елементів
            margin-top: toRem(139); // Відступ для четвертої групи
        }
        @media (max-width: toEm($huge-mobile-adaptive)) {
            &:nth-child(4n + 2) {
                // Стилі для другої групи елементів
                margin-top: toRem(48);
            }
            &:nth-child(4n + 3) {
                // Стилі для третьої групи елементів
                margin-top: toRem(48);
            }
            &:nth-child(4n + 4) {
                // Стилі для четвертої групи елементів
                margin-top: toRem(48);
            }
        }
    }
    // .my-experiences__title-wrap
    &__title-wrap {
        display: flex;
        gap: toRem(16);
        margin-bottom: toRem(12);
    }
    // .my-experiences__number
    &__number {
        /* Heading/Heading 40 */
        color: $Main-Color;
        font-family: Anton;
        font-size: toRem(40);
        font-weight: 400;
        line-height: toRem(60);
        letter-spacing: 2%;
    }
    // .my-experiences__name-wrap
    &__name-wrap {
    }
    // .my-experiences__name
    &__name {
        /* Sub Heading/Sub Heading 16/Bold */
        color: $Black;
        font-family: Montserrat;
        font-size: toRem(16);
        font-weight: 700;
        line-height: toRem(30);
        letter-spacing: -4%;
    }
    // .my-experiences__date
    &__date {
        /* Sub Heading/Sub Heading 14/Semi Bold */
        color: $Main-Color;
        font-family: Montserrat;
        font-size: toRem(14);
        font-weight: 600;
        line-height: toRem(20);
        letter-spacing: -4%;
    }
}
