@import url(https://fonts.googleapis.com/css?family=Anton:regular);
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap");

@font-face {
    font-family: 'icomoon';
    src: url(../fonts/icomoon.woff2) format('woff2'), url(../fonts/icomoon.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'icomoon2';
    src: url(../fonts/icomoon2.woff2) format('woff2'), url(../fonts/icomoon2.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}