// ----ROBERT------------------------------------------------------------------------------------------------------------------------------------------------
.robert {
    background: url(../img/RobertFox.jpeg) center center / cover no-repeat; // Найкращий запис для бекграунда
    height: toRem(1100);
    @media (max-width: toEm($huge-mobile-adaptive)) {
        background: url(../img/RobertFox.jpeg) 54% center / cover no-repeat;
    }
    // .robert__zone
    &__zone {
        padding-top: toRem(290);
        @extend %common-container;
        display: flex;
        justify-content: space-between;
        @media (max-width: toEm($huge-mobile-adaptive)) {
            margin-top: toRem(460);
            padding-top: toRem(0);
        }
    }
    // .robert__content
    &__content {
    }
    // .robert__hello
    &__hello {
        /* Sub Heading/Sub Heading 24 */
        color: $Main-Color;
        font-family: Montserrat;
        font-size: toRem(24);
        font-weight: 700;
        line-height: toRem(30);
        letter-spacing: -4%;
        & span {
            color: $White-text;
        }
        margin-bottom: toRem(12);
    }
    // .robert__title
    &__title {
        color: $White-text;
        font-family: Anton;
        @include adaptiveValue("font-size", 130, 50);
        font-weight: 400;
        @include adaptiveValue("line-height", 154, 70);
        letter-spacing: 1.5%;
        text-transform: uppercase;
        display: inline-flex;
        margin-bottom: toRem(12);
        &::after {
            content: "";
            flex-basis: 2px;
            @include adaptiveValue("height", 148, 70);
            width: 2px;
            background-color: $White-text;
            margin-left: 6px;
        }
    }
    // .robert__description
    &__description {
        color: $White-text;
        font-family: Montserrat;
        font-size: toRem(16);
        font-weight: 700;
        line-height: toRem(30);
        letter-spacing: -4%;
        margin-bottom: toRem(24);
    }
    // .robert__links
    &__links {
        &--footer {
            display: flex;
            gap: toRem(28);
        }
    }
    // .robert__link-wrap
    &__link-wrap {
        &:not(:last-child) {
            margin-bottom: toRem(32);
        }
        &--contact {
            width: toRem(42);
            height: toRem(42);
            background-color: $Grey-10;
            border-radius: 50%;
            transition: 0.3s;
            position: relative;
            .icon-contact-ballin,
            .icon-contact-instagram,
            .icon-contact-linkedin,
            .icon-contact-facebook {
                font-size: toRem(19);
                color: $Black;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &:hover {
                transform: scale(1.2, 1.2);
            }
            &:hover {
                .icon-contact-ballin,
                .icon-contact-instagram,
                .icon-contact-linkedin,
                .icon-contact-facebook {
                    color: $Main-Color;
                }
            }
        }
    }
    // .robert__link-image
    &__link-image {
        transition: 0.3s;
        &:hover {
            transform: scale(1.2, 1.2);
        }
    }
}
// ----ABOUT-ME------------------------------------------------------------------------------------------------------------------------------------------------------
.about-me {
    @extend %common-container;
    @include adaptiveValue("padding-top", 90, 44);
    @include adaptiveValue("padding-bottom", 86, 47);
    display: flex;
    flex-wrap: wrap;
    gap: toRem(64);
    // .about-me__cards
    &__cards {
        flex: 1 1 calc(50% - 32px);
        display: flex;
        column-gap: toRem(61);
        justify-content: center;
        @media (max-width: toEm($tablet-adaptive)) {
            flex: 1 1 calc(100%);
        }
        @media (max-width: toEm($small-mobile-adaptive)) {
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }
    // .about-me__card
    &__card {
        &--right {
            @media (max-width: toEm($small-mobile-adaptive)) {
                align-self: flex-end;
            }
        }
    }
    // .about-me__img-wrap
    &__img-wrap {
        max-width: toRem(230);
        & img {
            @include adaptive-image-settings(
                $width: 100%,
                $height: 100%,
                $object-fit: cover,
                $aspect-ratio: toRem(230) / toRem(256)
            );
        }
    }
    // .about-me__info
    &__info {
        flex: 1 1 calc(50% - 32px);
        @media (max-width: toEm($tablet-adaptive)) {
            flex: 1 1 calc(100%);
        }
    }
    &__text-wrap {
        @include adaptiveValue("padding-right", 30, 0);
        @include adaptiveValue("padding-left", 90, 76);
    }
}
// ----PARTNERS------------------------------------------------------------------------------------------------------------------------------------------------------
.partners {
    &--about {
        background: $Grey-10;
        padding-bottom: toRem(60);
        padding-top: toRem(60);
        text-align: center;
    }
    &--service {
        background: none;
        padding-top: toRem(0);
    }
    &--portfolio {
        // @include adaptiveValue("margin-bottom", 120, 80);
        @include adaptiveValue("padding-bottom", 120, 80);
    }
    // .partners__background
    &__bacgroud {
        background: $Grey-10;
        padding-bottom: toRem(121);
    }
    // .partners__container
    &__img-container {
        @extend %common-container;

        @include adaptiveValue("padding-top", 88, 41);
        @include adaptiveValue("padding-bottom", 88, 43);
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: toRem(23);
    }
    // .partners__container--about
    &__img-container--about {
        margin-top: toRem(40);
        margin-bottom: toRem(80);
        padding-top: 0;
        padding-bottom: 0;
        @include adaptiveValue("row-gap", 56, 26);
        @include adaptiveValue("column-gap", 120, 0);
        justify-content: center;
        & img {
            @media (max-width: toEm($small-mobile-adaptive)) {
                transform: scale(0.8);
            }
        }
    }
    // .partners__container--service
    &__img-container--service {
        margin-top: toRem(0);
    }
    // .partners__image
    &__image {
        // padding: 0 toRem(27) 0 toRem(27);
        &--big {
            @media (min-width: toEm($huge-mobile-adaptive)) {
                display: block;
            }
            @media (max-width: toEm($huge-mobile-adaptive)) {
                display: none;
            }
        }
        &--small {
            @media (min-width: toEm($huge-mobile-adaptive)) {
                display: none;
            }
            @media (max-width: toEm($huge-mobile-adaptive)) {
                display: block;
            }
        }
    }
    // .partners__wrapper
    &__wrapper {
        margin: 0 toRem(17);
    }
    // .partners__hire-container
    &__hire-container {
        background: url(../img/Hire_Me_Bg.jpeg) center center / cover no-repeat;
        @extend %common-container;
        margin-top: toRem(-121);
        width: 100%; /* Фіксована ширина батьківського контейнера */
        text-align: center; /* Вирівнювання по центру для inline-block елементів */
        padding: toRem(73) toRem(15) toRem(79) toRem(15);
    }
    // .partners__text
    &__text {
        color: $White-text;
        font-family: Anton;
        @include adaptiveValue("max-width", 685, 185);
        @include adaptiveValue("font-size", 40, 32);
        font-weight: 400;
        @include adaptiveValue("line-height", 60, 48);
        @include adaptiveValue("letter-spacing", 2%, 0%);
        margin: 0 auto toRem(32) auto;
    }
    // .partners__ref
    &__ref {
        margin-top: toRem(32);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    // .partners__download-img
    &__download-img {
        height: toRem(16);
        width: toRem(16);
    }
    // .partners__download-cv
    &__download-cv {
        /* Sub Heading/Sub Heading 14/Semi Bold */
        color: $Input_text;
        font-family: Montserrat;
        font-size: toRem(14);
        font-weight: 600;
        line-height: toRem(20);
        letter-spacing: -4%;
        margin-left: toRem(12);
        &:hover {
            text-decoration: underline;
        }
    }
}
// ----MY-SERVICE------------------------------------------------------------------------------------------------------------------------------------------------------
.my-service {
    @include adaptiveValue("padding-top", 80, 48);
    padding-bottom: toRem(83);
    @extend %common-container;
    width: 100%;
    text-align: center;
    // .my-service__carts
    &__carts {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(toRem(200), 1fr));
        @include adaptiveValue("gap", 61, 32);
        align-items: center;
        justify-items: center;
        @include adaptiveValue("margin-top", 57, 8);
    }
    // .my-service__cart
    &__cart {
        background: $Grey-10;
        text-align: left;
        padding: toRem(42) toRem(31) toRem(31) toRem(20);
        &:hover {
            background-color: $Main-Color;
            cursor: pointer;
            .my-service__title,
            .my-service__icon {
                color: $White-text;
            }
            .default-text--my-service {
                color: rgb(255, 215, 206);
            }
        }
    }
    // .my-service__img
    &__icon {
        font-size: toRem(27);
        color: $Main-Color;
        margin-bottom: toRem(26);
    }
    // .my-service__title
    &__title {
        /* Sub Heading/Sub Heading 16/Bold */
        color: rgb(17, 18, 20);
        font-family: Montserrat;
        font-size: toRem(16);
        font-weight: 700;
        line-height: toRem(30);
        letter-spacing: -4%;
        margin-bottom: toRem(8);
    }
}
// ----PORTFOLIO------------------------------------------------------------------------------------------------------------------------------------------------------
.portfolio {
    background: $Grey-10;
    &--portfolio {
        background: none;
    }
    // .portfolio__wrapper
    &__wrapper {
        @extend %common-container;
        padding-top: toRem(72);
        padding-bottom: toRem(72);
    }
    // .portfolio__info
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: toRem(15);
        margin-bottom: toRem(63);
        @media (max-width: toEm($tablet-adaptive)) {
            flex-wrap: wrap;
        }
        @media (max-width: toEm($huge-mobile-adaptive)) {
            display: block;
        }
    }
    // .portfolio__nav
    &__nav {
    }
    // .portfolio__nav-list
    &__nav-list {
        display: flex;
        gap: toRem(24);
        align-items: center;
        flex-wrap: wrap;
    }
    // .portfolio__nav-item
    &__nav-item {
        color: $Grey-100;
        font-family: Montserrat;
        font-size: toRem(12);
        font-weight: 600;
        line-height: toRem(15);
        letter-spacing: 0%;
    }
    // .portfolio__active
    &__active {
        color: $Main-Color;
        border: 1px solid $Main-Color;
        border-radius: toRem(4);
        padding: toRem(12) toRem(16);
        @media (max-width: toEm($huge-mobile-adaptive)) {
            padding: toRem(3) toRem(4);
        }
    }
    // .portfolio__buttons
    &__buttons {
        display: flex;
        gap: toRem(24);
        @media (max-width: toEm($huge-mobile-adaptive)) {
            justify-content: flex-end;
            margin-top: toRem(15);
        }
    }
    // .portfolio__swiper
    &__swiper {
    }
    // .portfolio__swiper-wrapper
    &__swiper-wrapper {
    }
    // .portfolio__swiper-slide
    &__swiper-slide {
    }
    &__relative {
        position: relative;
        &:hover {
            .portfolio__labels,
            .portfolio__opacity {
                visibility: visible;
            }
        }
    }
    &__img-wrap {
        // max-width: toRem(364);
        max-width: 100%;
        & img {
            @include adaptive-image-settings(
                $width: 100%,
                $height: 100%,
                $object-fit: cover,
                $aspect-ratio: toRem(364) / toRem(249)
            );
        }
    }
    // .portfolio__labels
    &__labels {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        visibility: hidden;
        z-index: 2;
    }
    &__opacity {
        background-color: $Black-opacity;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    // .portfolio__slide-title
    &__slide-title {
        /* Heading/Heading 32 */
        color: $White-text;
        font-family: Anton;
        font-size: toRem(32);
        font-weight: 400;
        line-height: toRem(48);
        letter-spacing: 0%;
    }
    // .portfolio__category
    &__category {
        /* Sub Heading/Sub Heading 16/Bold */
        color: $White-text;
        font-family: Montserrat;
        font-size: toRem(16);
        font-weight: 700;
        line-height: toRem(30);
        letter-spacing: -4%;
    }
    // .portfolio__swiper-pagination
    &__swiper-pagination {
    }
}
/* Змінює колір точок пагінації */
.portfolio__swiper-pagination .swiper-pagination-bullet {
    width: toRem(15);
    height: toRem(3);
    border-radius: toRem(1);
    background: $Grey-text;
}
/* Змінює фон пагінації */
.portfolio__swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    position: static;
    display: inline-block;
    text-align: center;
    margin-top: toRem(20);
}
/* Змінює колір активної точки пагінації */
.portfolio__swiper-pagination .swiper-pagination-bullet-active {
    width: toRem(15);
    height: toRem(3);
    border-radius: toRem(1);
    background: $Main-Color;
}
// ----TESTIMONIAL------------------------------------------------------------------------------------------------------------------------------------------------------
.testimonial {
    @extend %common-container;
    @include adaptiveValue("padding-top", 120, 64);
    @include adaptiveValue("padding-bottom", 120, 64);
    // .testimonial__swiper
    &__swiper {
        @include adaptiveValue("width", 1140, 290);
    }
    // .testimonial__swiper-wrapper
    &__swiper-wrapper {
    }
    // .testimonial__swiper-slide
    &__swiper-slide {
    }
    // .testimonial__slide-flex
    &__slide-flex {
        display: flex;
        align-items: flex-start;
        gap: toRem(120);
        flex-wrap: wrap;
        @media (max-width: toEm(950)) {
            display: block;
        }
    }
    // .testimonial__img-wrap
    &__img-wrap {
        max-width: toRem(364);
        @media (max-width: toEm(950)) {
            margin-bottom: toRem(32);
            margin-top: toRem(15);
        }
        & img {
            @include adaptive-image-settings(
                $width: 100%,
                $height: 100%,
                $object-fit: cover,
                $aspect-ratio: toRem(364) / toRem(422)
            );
        }
    }
    // .testimonial__info
    &__info {
    }
    // .testimonial__introduction
    &__introduction {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: toRem(30);
        position: relative;
        @media (max-width: toEm(950)) {
            margin-bottom: toRem(57);
        }
        & p {
            color: $Main-Color;
            font-family: Anton;
            font-size: toRem(24);
            font-weight: 400;
            line-height: toRem(36);
            letter-spacing: 0%;
            & span {
                color: $Grey-text;
            }
        }
    }
    &__symbols {
        margin-bottom: toRem(30);
        @media (max-width: toEm(950)) {
            padding-left: toRem(10);
        }
    }
    &__margin {
        @media (max-width: toEm(950)) {
            padding-bottom: toRem(85);
        }
    }
    // .testimonial__title
    &__title {
        /* Sub Heading/Sub Heading 16/Bold */
        color: $Main-Color;
        font-family: Montserrat;
        font-size: toRem(16);
        font-weight: 700;
        line-height: toRem(30);
        letter-spacing: -4%;
        margin-bottom: toRem(2);
    }
    // .testimonial__lable
    &__lable {
        /* Sub Heading/Sub Heading 14/Semi Bold */
        color: $Grey-text;
        font-family: Montserrat;
        font-size: toRem(14);
        font-weight: 600;
        line-height: toRem(20);
        letter-spacing: -4%;
    }
    // .testimonial__swiper-pagination
    &__swiper-pagination {
    }
    // .testimonial__buttons
    &__buttons {
        display: flex;
        gap: toRem(24);
        position: absolute;
        // top: toRem(382);
        bottom: 0;
        right: 0;
        z-index: 5;
        @media (max-width: toEm(950)) {
        }
    }
    // .testimonial__button-prev
    &__button-prev {
    }
    // .testimonial__button-next
    &__button-next {
    }
}
/* Змінює колір точок пагінації */
.testimonial__swiper-pagination .swiper-pagination-bullet {
    width: toRem(15);
    height: toRem(3);
    border-radius: toRem(1);
    background: $Grey-text;
}
/* Змінює фон пагінації */
.testimonial__swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    position: absolute;
    bottom: 0;
    left: 45.4%;
    z-index: 5;
    width: auto;
    @media (max-width: toEm(950)) {
        bottom: toRem(17);
        left: toRem(-3.5);
    }
}
/* Змінює колір активної точки пагінації */
.testimonial__swiper-pagination .swiper-pagination-bullet-active {
    width: toRem(15);
    height: toRem(3);
    border-radius: toRem(1);
    background: $Main-Color;
}
