// ----HAVE ANY QUESTIONS?-----------------------------------------------------------------------------------------------------------------------------------------------
.questions {
    @extend %common-container;
    background: $Grey-10;
    width: 100%;
    text-align: center;
    margin-bottom: toRem(80);
    @include adaptiveValue("padding-top", 80, 64);
    @include adaptiveValue("padding-bottom", 80, 64);
    @media (max-width: toEm($huge-mobile-adaptive)) {
        margin-bottom: toRem(0);
    }
    // .questions__sub-container
    &__sub-container {
        max-width: toRem(753);
        margin: 0 auto;
    }
    // .questions__wrap
    &__wrap {
        text-align: left;
    }
    // .questions__item
    &__item {
        padding: toRem(27) toRem(27) toRem(27) toRem(24);
        border: toRem(1) solid $Grey-20;
        border-radius: toRem(4);
        transition: 0.3s;
        &:not(:last-child) {
            margin-bottom: toRem(24);
        }
    }
    // .questions__button
    &__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &:hover .questions__title {
            color: $Main-Color;
        }
    }

    // .questions__title
    &__title {
        /* Sub Heading/Heading 20 */
        color: $Black;
        font-family: Anton;
        @include adaptiveValue("font-size", 20, 14);
        font-weight: 400;
        line-height: toRem(30);
        letter-spacing: 0%;
        transition: 0.3s;
    }
    // .questions__img
    &__img {
        transition: 0.3s;
        .active-question & {
            transform: rotate(-180deg);
        }
    }
    // .questions__body
    &__body {
    }
    // .questions__list
    &__list {
    }
    // .questions__item-li
    &__item-li {
    }
}
.big-0x-title {
    // .big-0x-title--black
    &--black {
    }
}
.line {
    // .line--margin-1
    &--margin-1 {
    }
}
._icon-ch-down {
}
.default-text {
    // .default-text--questions
    &--questions {
    }
}
.active-parent {
    /* Стилі для батьківського елементу активного елементу */
    background-color: $White-text;
    border: none;
    border-radius: 0;
}
