@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

mark {
  background-color: transparent;
}

.header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.footer__container, .brands__container, .slogan__container, .header__container {
  max-width: 73.125rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

.header {
  background: rgb(254, 251, 241);
}
.header__container {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
}
.header__nav-button {
  color: rgb(112, 52, 18);
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.3125rem;
  letter-spacing: 0%;
  position: relative;
}
.header__nav-button::before {
  content: "";
  position: absolute;
  bottom: -0.0625rem;
  left: 0;
  width: 0%;
  height: 0.0625rem;
  background-color: rgb(112, 52, 18);
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.header__nav-button:hover {
  color: rgb(112, 52, 18);
}
.header__nav-button:hover::before {
  width: 100%;
}

.slogan {
  background: rgb(254, 251, 241);
}
@media (min-width: 73.125em) {
  .slogan__container {
    margin-top: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (margin-top: clamp( 1.875rem , -0.2426470588rem  +  10.5882352941vw , 7.5rem )) {
    .slogan__container {
      margin-top: clamp( 1.875rem , -0.2426470588rem  +  10.5882352941vw , 7.5rem );
    }
  }
  @supports not (margin-top: clamp( 1.875rem , -0.2426470588rem  +  10.5882352941vw , 7.5rem )) {
    .slogan__container {
      margin-top: calc(1.875rem + 5.625 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .slogan__container {
    margin-top: 1.875rem;
  }
}
@media (min-width: 73.125em) {
  .slogan__container {
    margin-bottom: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (margin-bottom: clamp( 1.875rem , -0.2426470588rem  +  10.5882352941vw , 7.5rem )) {
    .slogan__container {
      margin-bottom: clamp( 1.875rem , -0.2426470588rem  +  10.5882352941vw , 7.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.875rem , -0.2426470588rem  +  10.5882352941vw , 7.5rem )) {
    .slogan__container {
      margin-bottom: calc(1.875rem + 5.625 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .slogan__container {
    margin-bottom: 1.875rem;
  }
}
.slogan__small-text {
  color: rgb(112, 52, 18);
  font-family: Roboto;
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 2.75rem;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  margin-bottom: 1.3125rem;
}
.slogan__title {
  color: rgb(112, 52, 18);
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0%;
  text-align: left;
  max-width: 48.4375rem;
}
@media (min-width: 73.125em) {
  .slogan__title {
    font-size: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (font-size: clamp( 1.5rem , 0.1823529412rem  +  6.5882352941vw , 5rem )) {
    .slogan__title {
      font-size: clamp( 1.5rem , 0.1823529412rem  +  6.5882352941vw , 5rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 0.1823529412rem  +  6.5882352941vw , 5rem )) {
    .slogan__title {
      font-size: calc(1.5rem + 3.5 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .slogan__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 73.125em) {
  .slogan__title {
    line-height: 5.5rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (line-height: clamp( 1.5rem , -0.0058823529rem  +  7.5294117647vw , 5.5rem )) {
    .slogan__title {
      line-height: clamp( 1.5rem , -0.0058823529rem  +  7.5294117647vw , 5.5rem );
    }
  }
  @supports not (line-height: clamp( 1.5rem , -0.0058823529rem  +  7.5294117647vw , 5.5rem )) {
    .slogan__title {
      line-height: calc(1.5rem + 4 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .slogan__title {
    line-height: 1.5rem;
  }
}

.brands {
  background: rgb(254, 251, 241);
}
@media (min-width: 73.125em) {
  .brands__container {
    margin-bottom: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (margin-bottom: clamp( 1.875rem , -0.2426470588rem  +  10.5882352941vw , 7.5rem )) {
    .brands__container {
      margin-bottom: clamp( 1.875rem , -0.2426470588rem  +  10.5882352941vw , 7.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.875rem , -0.2426470588rem  +  10.5882352941vw , 7.5rem )) {
    .brands__container {
      margin-bottom: calc(1.875rem + 5.625 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .brands__container {
    margin-bottom: 1.875rem;
  }
}
.brands__slogan {
  color: rgb(112, 52, 18);
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0%;
  max-width: 35.625rem;
}
@media (min-width: 73.125em) {
  .brands__slogan {
    font-size: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (font-size: clamp( 1.5rem , 1.3117647059rem  +  0.9411764706vw , 2rem )) {
    .brands__slogan {
      font-size: clamp( 1.5rem , 1.3117647059rem  +  0.9411764706vw , 2rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 1.3117647059rem  +  0.9411764706vw , 2rem )) {
    .brands__slogan {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .brands__slogan {
    font-size: 1.5rem;
  }
}
@media (min-width: 73.125em) {
  .brands__slogan {
    line-height: 2.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (line-height: clamp( 1.75rem , 1.4441176471rem  +  1.5294117647vw , 2.5625rem )) {
    .brands__slogan {
      line-height: clamp( 1.75rem , 1.4441176471rem  +  1.5294117647vw , 2.5625rem );
    }
  }
  @supports not (line-height: clamp( 1.75rem , 1.4441176471rem  +  1.5294117647vw , 2.5625rem )) {
    .brands__slogan {
      line-height: calc(1.75rem + 0.8125 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .brands__slogan {
    line-height: 1.75rem;
  }
}
@media (min-width: 73.125em) {
  .brands__slogan {
    margin-bottom: 11.875rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (margin-bottom: clamp( 1.875rem , -1.8897058824rem  +  18.8235294118vw , 11.875rem )) {
    .brands__slogan {
      margin-bottom: clamp( 1.875rem , -1.8897058824rem  +  18.8235294118vw , 11.875rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.875rem , -1.8897058824rem  +  18.8235294118vw , 11.875rem )) {
    .brands__slogan {
      margin-bottom: calc(1.875rem + 10 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .brands__slogan {
    margin-bottom: 1.875rem;
  }
}
.brands__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19.5rem, 1fr));
  justify-items: center;
}
@media (min-width: 73.125em) {
  .brands__cards {
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports ((-moz-column-gap: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem )) or (column-gap: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem ))) {
    .brands__cards {
      -webkit-column-gap: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem );
         -moz-column-gap: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem );
              column-gap: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem )) or (column-gap: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem ))) {
    .brands__cards {
      -webkit-column-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 53.125);
         -moz-column-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 53.125);
              column-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .brands__cards {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
@media (min-width: 73.125em) {
  .brands__cards {
    row-gap: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (row-gap: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem )) {
    .brands__cards {
      row-gap: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem );
    }
  }
  @supports not (row-gap: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem )) {
    .brands__cards {
      row-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .brands__cards {
    row-gap: 1.25rem;
  }
}
@media (max-width: 29.99875em) {
  .brands__cards {
    grid-template-columns: repeat(auto-fit, minmax(16.875rem, 1fr));
  }
}
.brands__card {
  width: 100%;
  -webkit-box-shadow: 6px 6px 8px 6px rgba(212, 202, 202, 0.5);
          box-shadow: 6px 6px 8px 6px rgba(212, 202, 202, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.brands__card:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.brands__img-wrap {
  margin-bottom: 2rem;
}
.brands__image {
  width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1.0064516129;
}
.brands__ref {
  color: rgb(112, 52, 18);
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: 0%;
  margin-bottom: 0.6875rem;
  position: relative;
}
.brands__ref::before {
  content: "";
  position: absolute;
  bottom: -0.0625rem;
  left: 0;
  width: 0%;
  height: 0.0625rem;
  background-color: rgb(112, 52, 18);
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.brands__ref:hover {
  color: rgb(112, 52, 18);
}
.brands__ref:hover::before {
  width: 100%;
}
.brands__img-sub-text {
  color: rgba(112, 52, 18, 0.72);
  font-family: Roboto;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-top: auto;
}

.footer {
  background: rgb(8, 73, 53);
}
@media (min-width: 73.125em) {
  .footer__container {
    margin-top: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (margin-top: clamp( 1.875rem , -0.2426470588rem  +  10.5882352941vw , 7.5rem )) {
    .footer__container {
      margin-top: clamp( 1.875rem , -0.2426470588rem  +  10.5882352941vw , 7.5rem );
    }
  }
  @supports not (margin-top: clamp( 1.875rem , -0.2426470588rem  +  10.5882352941vw , 7.5rem )) {
    .footer__container {
      margin-top: calc(1.875rem + 5.625 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .footer__container {
    margin-top: 1.875rem;
  }
}
.footer__contact {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.footer__title {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 1.9375rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footer__title span {
  color: rgba(255, 255, 255, 0.72);
}
.footer__title span :hover {
  text-decoration: underline;
  color: rgb(153, 209, 0);
}
.footer__refs-zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 73.125em) {
  .footer__refs-zone {
    margin-top: 6.875rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (margin-top: clamp( 1.25rem , -0.8676470588rem  +  10.5882352941vw , 6.875rem )) {
    .footer__refs-zone {
      margin-top: clamp( 1.25rem , -0.8676470588rem  +  10.5882352941vw , 6.875rem );
    }
  }
  @supports not (margin-top: clamp( 1.25rem , -0.8676470588rem  +  10.5882352941vw , 6.875rem )) {
    .footer__refs-zone {
      margin-top: calc(1.25rem + 5.625 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .footer__refs-zone {
    margin-top: 1.25rem;
  }
}
@media (min-width: 73.125em) {
  .footer__refs-zone {
    margin-bottom: 6.875rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (margin-bottom: clamp( 1.25rem , -0.8676470588rem  +  10.5882352941vw , 6.875rem )) {
    .footer__refs-zone {
      margin-bottom: clamp( 1.25rem , -0.8676470588rem  +  10.5882352941vw , 6.875rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , -0.8676470588rem  +  10.5882352941vw , 6.875rem )) {
    .footer__refs-zone {
      margin-bottom: calc(1.25rem + 5.625 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .footer__refs-zone {
    margin-bottom: 1.25rem;
  }
}
.footer__list:not(:last-child) {
  margin-bottom: 0.9375rem;
}
@media (max-width: 47.99875em) {
  .footer__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
@media (max-width: 29.99875em) {
  .footer__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
.footer__ref {
  color: rgba(255, 255, 255, 0.72);
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0%;
  position: relative;
}
.footer__ref::before {
  content: "";
  position: absolute;
  bottom: -0.0625rem;
  left: 0;
  width: 0%;
  height: 0.0625rem;
  background-color: rgb(153, 209, 0);
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.footer__ref:hover {
  color: rgb(255, 255, 255);
}
.footer__ref:hover::before {
  width: 100%;
}
.footer__brands {
  display: block;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0%;
  border-top: rgba(255, 255, 255, 0.16) solid 0.0625rem;
  padding: 1.25rem 0 1.625rem 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footer__brands:hover {
  text-decoration: underline;
  color: rgb(153, 209, 0);
}

body {
  font-family: "Anton", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #101010;
  line-height: 1.46;
}

.wrapper {
  min-height: 100vh;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}